<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TrabOutrosMetComServlet</servlet-name>
        <servlet-class>meupacote.TrabOutrosMetComServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VarrendoTodosObjetos</servlet-name>
        <servlet-class>meupacote.VarrendoTodosObjetos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecCabecalhos</servlet-name>
        <servlet-class>meupacote.RecCabecalhos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrabOutrosMetComServlet</servlet-name>
        <url-pattern>/TrabOutrosMetComServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VarrendoTodosObjetos</servlet-name>
        <url-pattern>/VarrendoTodosObjetos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecCabecalhos</servlet-name>
        <url-pattern>/RecCabecalhos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
